<% if @page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

    <ul>
    <% @page.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div style="padding-left:10px;">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :markup %><br>
    <%= f.text_area :markup, style: 'width:94%;height:500px;' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
